= form_with(model: project, local: true) do |f|
  - if project.errors.any?
    %div{ style: "color: red" }
      %h2= "#{pluralize(project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - project.errors.full_messages.each do |message|
          %li= message

  %div
    = f.label :title
    %br/
    = f.text_field :title

  %div
    = f.label :description
    %br/
    = f.text_area :description

  %div
    = f.submit